.header {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;

    .input {
      padding: 2rem;
      width: 48rem;
    }

    .error {
      margin-top: 0.5rem;
      min-height: 1.4rem;
      font-size: 1rem;
      font-weight: 600;
      color: red;
    }
  }

  button {
    align-self: flex-end;
  }
}
